<div class="container-fluid mt-5">
  <div class="row">
    <div class="col align-self-start pt-5">
      <h1>Beatriz S. C. Longley</h1>
      <div id="home-banner-link">
        <%= link_to "let me first introduce myself...", root_path(@root, :anchor => "my-story"), id: "home-banner-btn" %>
      </div>
    </div>
    <div class="col align-self-center">
      <%= image_tag "stone.jpg", :height => '100%', :width => "100%" %>
    </div>
    <div class="col align-self-center">
      <%= image_tag "mountain_bw.jpg", :height => '100%', :width => "100%" %>
    </div>
  </div>
</div>

<div class="container-fluid mt-5 pt-5" id="my-story">
  <div class="row">
    <div class="col justify-content-start"></div>
    <div class="col justify-content-end home-line-divider"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="mb-4">my story</h2>
      <p class="text-justify">I'm a world traveler, world record holder, a bookworm with the goal to read as many books a year as Bill Gates, an amateur photographer and a champion of 'fantasma blitz'.</p>
      <p class="text-justify">After 10 years of experience in customer service and two in marketing, I decided to learn the language of the future and in the summer of 2020, completed a 9 week full-stack Web Development bootcamp. I have since been working as a freelancer, designing & building projects, and helping the next generation of developers give their first steps.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="mb-4">my mission</h2>
      <p class="text-justify">As a programmer and web developer, I want to work with people and projects that are making a positive difference in our envirnment and society.</p>
      <p class="text-justify">I want to help use technology to effectively enhance human collaboration and impact to help preserve our planet and a better way of living.</p>
    </div>
  </div>
</div>

<div class="container-fluid pt-5" id="my-stack">
  <div class="row">
    <div class="col justify-content-start home-line-divider"></div>
    <div class="col justify-content-end"></div>
  </div>
</div>
<div class="container mb-4">
  <div class="row">
    <div class="col">
      <h2 class="mb-4">my stack</h2>
      <ul>
        <li>HTML & CSS | SCSS | Bootstrap</li>
        <li>ES6 | DOM</li>
        <li>Wireframe | Figma</li>
        <li>Ruby | Ruby on Rails</li>
        <li>MVC | Active Record</li>
        <li>API</li>
        <li>SQL</li>
        <li>git | GitHub</li>
        <li>TDD</li>
        <li>Agile</li>
      </ul>
    </div>
  </div>
</div>

<!-- <div class="container-fluid pt-5" id="my-story">
  <div class="row">
    <div class="col justify-content-start"></div>
    <div class="col justify-content-end home-line-divider"></div>
  </div>
</div> -->

<div id="projects-background">
  <div class="container">
    <div class="row mb-4">
      <div class="col mb-3">
        <h2>my projects</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-4 col-xl-4">
        <div id="project-img-dr">
          <%= link_to "GitHub - readme file with instructions on how best to access and navigate the webpage.", 'https://github.com/BeatrizSCLongley/dining_room', target: :_blank, class: "github-link hidden", id: "link-dr" %>
        </div>
        <div class="project-info">
          <div class="project-title">
            <%= link_to "Dining Room", 'http://www.diningroom.life/', class: "project-link", target: :_blank %>
          </div>
          <p class="mt-2">Graduation project | Book intimate dinners, hosted by locals, cooked by professional chefs.</p>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-4 col-xl-4">
        <div id="project-img-tu">
          <%= link_to "GitHub", 'https://github.com/BeatrizSCLongley/teamup-v2', target: :_blank, class: "github-link hidden", id: "link-tu" %>
        </div>
        <div class="project-info">
          <div class="project-title">
            <%= link_to "teamup", 'http://www.teamup.inc/', class: "project-link", target: :_blank %>
          </div>
          <p class="mt-2">Freelance project | Creating high performing teams - solutions designed to accelerate individual and team performance based on applied neuroscience.</p>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-4 col-xl-4">
        <div id="project-img-pi">
          <%= link_to "Project under development", 'https://github.com/BeatrizSCLongley/dining_room', target: :_blank, class: "github-link hidden", id: "link-pi" %>
        </div>
        <div class="project-info">
          <div class="project-title">
            <%= link_to "PsychIO", '/', class: "project-link", target: :_blank %>
          </div>
          <p class="mt-2">Freelance project | Boutique leadership development consultancy, supporting organizations grow and develop leadership capabilities globally.</p>
        </div>
      </div>
    </div>
  </div>
</div>
